<nav class="header-container">
  <div class="header-logo center">
    <img src="/assets/chainsense-logo.png" alt="ChainSense" />
  </div>
  <div class="header-sections">
    <a
      class="header-form-section center"
      routerLink="/create-user"
      routerLinkActive="active"
    >
      <span>Create User</span>
    </a>
    <a
      class="header-user-detail-section center"
      routerLink="/users"
      routerLinkActive="active"
    >
      <span>All Users</span>
    </a>
  </div>
</nav>
