.user-details-container {
  height: 100%;
  display: flex;
}

.user-filter-section-wrapper{
  height: 100%;
  flex: 1;
  padding: 2rem;
}

.user-filter-section{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 2px;
  padding: 1rem;
}

.filter-section{
  height: 50%;

}

.filter-section-tag{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 2px solid rgba(27, 31, 35, 0.15);

}

.filter-section-tag img{
  width: 10%;
  height: 90%;
}

.filter-section-buttons{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 80%;

}

.filter-button-wrapper{
  width: 50%;
  height: 50%;
  padding: 0.7rem;
  
}

.filter-button{
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  font-weight: 400;
  cursor: pointer;
}



.sort-section{
  height: 50%;
}

.user-details-section {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex: 3;
  overflow: auto;
}

.user-card {
  width: calc(100% / 3);
  height: 50%;
  padding: 2rem 2rem 0 2rem;
}

.user-card-body {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

}

.user-card-body:hover {
  transform: translateY(-5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.user-card-image {
  height: 75%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.user-card-details {
  height: 25%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

/* For Skeleton Boxes */

.skeleton {
  animation: skeleton-animation 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.6rem;
}

.last-child {
  width: 75%;
}

@keyframes skeleton-animation {
  0% {
    background-color: rgb(190, 190, 190);
  }
  100% {
    background-color: rgb(240, 240, 240);
  }
}
